@using FirstWebApp.Data.Models

@model IEnumerable<FirstWebApp.Data.Models.Car>

@{
    
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    <h2>Всі машини</h2>
    @{
        foreach (var car in Model)
        {
            <div>
                <h2>Модель: @car.name</h2>
                <p>Ціна: @car.price.ToString("c")</p>
            </div>
        }

    }
</body>
</html>